body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    
    margin: 0;
    padding: 0;
}

#Container{
    background-color: #33a;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;

}