body{
    background: #1e1f24;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;


}

#cabecera{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;

}

#container h1{
    font-size: 20px;
}

#footer{
    background: cadetblue;
    text-align: left;
    color: #3333aa;
    padding: 0.5em;
}
