body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    width: 70%;
    margin: 0 auto;
    padding: 0 auto;
}

#Container{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    width: 70%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;

}

#parrafo{
    text-align: center;
    color: blueviolet;
    width: 75%;
    border: brown solid;
    margin: 0 auto;
    padding: 0 auto;
}