body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#Container{
    width: 70%;
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0;
    border-color: violet ;
    border: solid 1px;
}

#left{
    color: black;
    margin: 0;
    padding: 0.5em;
    text-align: left;
}

#cabecera{
    padding: 1em;
}